<div class='text-center'>
  <h2>Admin login</h2>
  <form action="/admin/authenticate" method="post">
    <input id="pass" name="pass" type="text" />
    <input name="commit" type="submit" value="Login" />
  </form>
</div>
