<h3>Tickets</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= "#{ticket.first_name} #{ticket.last_name}" %></td>
    </tr>
  <% end %>
</table>
