<div class="homepage-info-container landing-block">
  <div class="row info-0">
    <div class="col-sm-6 info-img">
      <img class='phone-tall' src="/images/PHONE.png" srcset="/images/PHONE@2x.png 765w" alt="Picture of sleepbus mobile ticket system">
      <img class='phone-short' src="/images/PHONE_cut.png" srcset="/images/PHONE@2x_cut.png" alt="Picture of sleepbus mobile ticket system">
    </div>
    <div class="col-sm-6 text-block">
      <div class="info-text-lg">
        Book Any <br> Ticket for $48
      </div>
      <div class="info-text-sm">Whether you book 10 months before or 10 minutes before, the price never changes.</div>
      <div><button class="book-trip btn btn-lg"> Book a Trip Now</button></div>
      <hr class="mobile-hr-display">
    </div>
  </div>

  <div class="row info-1">
    <div class="col-sm-push-6 col-sm-6 col-xs-12 info-img">
      <img src="/images/bus-interior-0.jpg" srcset="" alt="Picture of sleepbus mobile ticket system">
    </div>
    <div class="col-sm-pull-6 col-sm-6 col-xs-12 text-block">
      <div class="homepage-flex-box-container">
        <div class="homepage-text-flex-box">
          <div class="info-text-lg">
            Arrive Rested <br> &amp; Ready
          </div>
          <div class="info-text-sm">Every passenger gets a private pod <br> with twin bed, premium bedding, <br> privacy curtain, outlet, and <br> reading light.</div>
          <div><button class="book-trip btn btn-lg"> Book a Trip Now</button></div>
          <hr class="mobile-hr-display">
        </div>
      </div>
    </div>
  </div>

  <div class="row amenities landing-block">
    <hr class="no-display-mobile">
    <div class="col-sm-4 amenitie">
      <div><img src="/svgs/WIFI.svg" alt="Wifi on Every Bus"></div>
      <div>Wifi on Every Bus</div>
    </div>
    <div class="col-sm-4 amenitie">
      <div><img src="/svgs/OUTLET.svg" alt="Personal Power Outlets"></div>
      <div>Personal Power Outlets</div>
    </div>
    <div class="col-sm-4 amenitie">
      <div><img src="/svgs/UTENSILS.svg" alt="Free Breakfast Everyday"></div>
      <div>Free Breakfast Everyday</div>
    </div>
  </div>

  <div class="fhq landing-block">
    <div class='row'>
      <div class="col-md-6 question-block">
        <div class="fhq-question">
          What are the pick-up and drop-off locations?
        </div>
        <div class="fhq-answer">
          San Francisco pick up and drop off: 4th and King Caltrain <br> Los Angeles pick up and drop off: Santa Monica Parking, 1550 Pacific Coast Highway.
        </div>
      </div>
      <div class="col-md-6 question-block">
        <div class="fhq-question">
          What are the amenities on the SleepBus?
        </div>
        <div class="fhq-answer">
          A privacy screen for each bed, personal power outlets, reading light, WiFi, fresh luxury sheets, coffee, tea, seating areas, and a restroom. There is also a SleepBus attendant on each trip to answer any of your questions and to take care of you during the ride.
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-6 question-block">
        <div class="fhq-question">
          Is there WiFi on the SleepBus?
        </div>
        <div class="fhq-answer">
          Yes. We ask our passengers to not use video-streaming devices or services during the SleepBus ride to ensure quality of WiFi for the rest of the passengers.
        </div>
      </div>
      <div class="col-md-6 question-block">
        <div class="fhq-question">
          What linens are used on the bus?
        </div>
        <div class="fhq-answer">
          We are using 100% cotton sheets.
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-6 question-block">
        <div class="fhq-question">
          How early should I arrive for check in and how long can I stay before I need to check out?
        </div>
        <div class="fhq-answer">
          You should aim to arrive at the pick up location 10-20 minutes before departure. Departure time is 11pm sharp in both San Francisco and Los Angeles. After we get to LA/SF in the morning, you'll be able to keep sleeping until 10:30am :)
        </div>
      </div>
      <div class="col-md-6 question-block">
        <div class="fhq-question">
          How long is the bus ride?
        </div>
        <div class="fhq-answer">
          Given normal traffic and weather conditions, the average bus ride lasts 6-6.5 hours.
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-6 question-block">
        <div class="fhq-question">
          What are the departure and arrival times in SF and LA?
        </div>
        <div class="fhq-answer">
          Departure time will always be 11pm sharp. Arrival times will vary, though we expect to arrive in either city by 5am or 6am.
        </div>
      </div>
    </div>
  </div>
  <div class="row talk-with-tom">
    <div class="col-sm-12">
      <p class='question'>Have a Question?</p>
      <p>Call us at 415-688-1077</p>
    </div>
    <!-- <div class="col-sm-6 center">
      <div class="chat-box simple-flex flex-column">
      	<div><img src="/images/TOM.png" alt="Picture of CEO Tom"></div>
      	<div>Tom Currier</div>
      	<div>CEO</div>
      </div>
      <a href="mailto:sampleEmail@email.com">
      	<div><button class="btn-style btn btn-lg btn-block chat-with-tom">Send a Message</button></div>
      </a>
      </div> -->
  </div>
</div>
