<div class="container-fluid homepage-info-container landing-block">
  <div class="row simple-flex info-1">
    <div class="col-sm-6 text-block">
      <div class="homepage-flex-box-container">
        <div class="homepage-text-flex-box">
          <div class="info-text-lg">
            Wake Up in<br>Los Angeles
          </div>
          <div class="info-text-sm">
            SleepBus has nightly non-stop <br> trips between Los Angeles, CA <br> and San Francisco, CA
          </div>
          <div class="scroll-down">
					  <img src="/svgs/MOUSE.svg" alt="Scroll down to learn more"> Scroll Down to Learn More
				  </div>
        </div>
      </div>
      <hr class="mobile-hr-display">
    </div>
    <div class="col-sm-6 info-img">
      <div class='home-form'>
        <%= erb :trip_form_home %>
      </div>
    </div>
  </div>
</div>
