<div class="modal fade" id="fPayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <img src="/svgs/LOGOSMALL.svg" class='text-center'>
        <br>
        <br>
        <h4 class="modal-title text-center" id="myModalLabel">Our apologies</h4>
      </div>
      <div class="modal-body">
        <p>This Sleepbus trip is coming soon, we will be emailing you when it is available! Please contact us @ <a href='mailto:reservations@sleepbus.co'>reservations@sleepbus.co</a> if you have additional questions, thanks!</p>
        <p>We are busy building buses for service! Service should be available by July or August, Announcements coming soon!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
